@import './variables.scss';
/* Hero Section*/
.Hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.heroText {
  width: 40vw;
  line-height: 1.4;
}
p {
  font-size: 3vh;
  font-family: $plusJakarta;
}

.HeroSpan {
  font-family: $msMadi;
  font-size: 5vh;
}

.heroImage {
  height: auto;
  width: auto;
}
.heroImageFile {
  height: 50vh;
}
