@import './variables.scss';
#{$a-tags} {
  color: $ebony;
  text-decoration: none;
  font-size: 2.5vh;
}
#{$a-tags-hover} {
  color: $artichoke;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $desert-sand;
  margin-bottom: 4vh;
  .OilEssence {
    color: $ebony;
    font-size: 6vh;
    font-family: $msMadi;
  }
  .desktopMenu {
    display: flex;
    justify-content: flex-end;
    width: 55vw;
    list-style: none;
  }
  .menuButton {
    display: none;
  }
  .dropdownMenu {
    display: none;
    list-style: none;
  }
  li {
    width: 7vw;
    font-family: $plusJakarta;
  }

  @media screen and (max-width: $medium) {
    .OilEssence {
      font-size: 4vh;
    }
    height: 6vh;
    .menuButton {
      position: absolute;
      display: block;
      color: $ebony;
      font-size: 5vh;
      right: 23vw;
      top: 0.6vh;
    }
    .menuButton:hover {
      border: 1px solid $ebony;
      border-radius: 10%;
    }

    .desktopMenu {
      display: none;
    }
    .dropdownMenu {
      position: absolute;
      background-color: $desert-sand;
      align-items: center;
      text-align: center;
      line-height: 10vh;
      flex-direction: column;
      top: 6vh;
      right: 12vw;
      padding: 2vh;
      width: 30vw;
      z-index: 5;
    }
    .dropdownMenu.expanded {
      display: flex;
    }
    .menuButton.expanded {
      border: 1px solid $ebony;
      border-radius: 10%;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: $artichoke;
  align-items: center;
  height: 6vh;
  h3 {
    color: $champagne-pink;
    font-family: $plusJakarta;
    font-size: 2vh;
  }
  span {
    padding-left: 1vw;
    font-family: $msMadi;
    color: $champagne-pink;
    font-size: 3vh;
  }
}
