@import './variables.scss', './layout.scss', './hero.scss';
@import './contacts.scss';
@import './store.scss';
@import './LoginButton.scss';
/* Theme for main body*/
h2 {
  font-family: $msMadi;
  font-size: 8vh;
  color: $ebony;
}
html {
  background-color: $champagne-pink;
}
.body {
  align-items: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* About Section*/
.Hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5vh;
  h2 {
    width: 50vw;
  }
  .logo {
    height: 35vh;
  }
  .oilImage {
    height: 35vh;
  }
}
