/* FONTS
        font-family: 'Ms Madi', cursive;

        font-family: 'Plus Jakarta Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Plus+Jakarta+Sans:wght@200;400;600&display=swap");
/* SCSS HEX */
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Plus+Jakarta+Sans:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Plus+Jakarta+Sans:wght@200;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* FONTS
        font-family: 'Ms Madi', cursive;

        font-family: 'Plus Jakarta Sans', sans-serif; */
/* SCSS HEX */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:active, a:hover, a:visited {
  color: #6b705c;
  text-decoration: none;
  font-size: 3vh;
}

a:active, a:hover {
  color: #a5a58d;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ddbea9;
}
header .OilEssence {
  color: #6b705c;
  font-size: 10vh;
  font-family: "Ms Madi";
}
header .desktopMenu {
  display: flex;
  list-style: none;
  width: 50vw;
  justify-content: flex-end;
}
header .menuButton {
  display: none;
}
header .dropdownMenu {
  display: none;
  list-style: none;
}
header li {
  width: 10vw;
  font-family: "Plus Jakarta Sans";
}
@media screen and (max-width: 900px) {
  header {
    height: 8vh;
  }
  header .OilEssence {
    font-size: 6.5vh;
  }
  header .menuButton {
    display: block;
    color: #6b705c;
    font-size: 5vh;
  }
  header .desktopMenu {
    display: none;
  }
  header .dropdownMenu {
    position: absolute;
    display: none;
  }
  header .dropdownMenu ul {
    background-color: #ddbea9;
    top: 8vh;
    right: 10vw;
    line-height: 5vh;
    font-size: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    z-index: 5;
  }
  header .dropdownMenu ul li {
    border-top: 2px solid #6b705c;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #a5a58d;
  align-items: center;
  height: 8vh;
}
footer h3 {
  color: #ffe8d6;
  font-family: "Plus Jakarta Sans";
  font-size: 3vh;
}
footer span {
  padding-left: 1vw;
  font-family: "Ms Madi";
  color: #ffe8d6;
  font-size: 4vh;
}

/* FONTS
        font-family: 'Ms Madi', cursive;

        font-family: 'Plus Jakarta Sans', sans-serif; */
/* SCSS HEX */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hero Section*/
.Hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.heroText {
  width: 40vw;
  line-height: 1.4;
}

p {
  font-size: 3vh;
  font-family: "Plus Jakarta Sans";
}

.HeroSpan {
  font-family: "Ms Madi";
  font-size: 5vh;
}

.heroImage {
  height: auto;
  width: auto;
}

.heroImageFile {
  height: 50vh;
}

/* Theme for main body*/
h2 {
  font-family: "Ms Madi";
  font-size: 8vh;
  color: #6b705c;
}

html {
  background-color: #ffe8d6;
}

.body {
  align-items: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* About Section*/
.logo {
  height: 35vh;
  align-items: center;
}

.oilImage {
  height: 35vh;
}

/* Store Section*/
.StoreBody {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.oneProductContainer {
  box-shadow: -5px 5px #a5a58d;
  color: #6b705c;
  padding: 10vh;
  margin: 4vh;
  width: 60vw;
}

.productDetails {
  width: 25vw;
  background-color: #ffe8d6;
  font-family: "Plus Jakarta Sans";
}/*# sourceMappingURL=styles.css.map */