/* FONTS
        font-family: 'Ms Madi', cursive;

        font-family: 'Plus Jakarta Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Plus+Jakarta+Sans:wght@200;400;600&display=swap");
/* SCSS HEX */
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Plus+Jakarta+Sans:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Plus+Jakarta+Sans:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Plus+Jakarta+Sans:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Plus+Jakarta+Sans:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Plus+Jakarta+Sans:wght@200;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* FONTS
        font-family: 'Ms Madi', cursive;

        font-family: 'Plus Jakarta Sans', sans-serif; */
/* SCSS HEX */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:active, a:hover, a:visited {
  color: #6b705c;
  text-decoration: none;
  font-size: 2.5vh;
}

a:active, a:hover {
  color: #a5a58d;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ddbea9;
  margin-bottom: 4vh;
}
header .OilEssence {
  color: #6b705c;
  font-size: 6vh;
  font-family: "Ms Madi";
}
header .desktopMenu {
  display: flex;
  justify-content: flex-end;
  width: 55vw;
  list-style: none;
}
header .menuButton {
  display: none;
}
header .dropdownMenu {
  display: none;
  list-style: none;
}
header li {
  width: 7vw;
  font-family: "Plus Jakarta Sans";
}
@media screen and (max-width: 900px) {
  header {
    height: 6vh;
  }
  header .OilEssence {
    font-size: 4vh;
  }
  header .menuButton {
    position: absolute;
    display: block;
    color: #6b705c;
    font-size: 5vh;
    right: 23vw;
    top: 0.6vh;
  }
  header .menuButton:hover {
    border: 1px solid #6b705c;
    border-radius: 10%;
  }
  header .desktopMenu {
    display: none;
  }
  header .dropdownMenu {
    position: absolute;
    background-color: #ddbea9;
    align-items: center;
    text-align: center;
    line-height: 10vh;
    flex-direction: column;
    top: 6vh;
    right: 12vw;
    padding: 2vh;
    width: 30vw;
    z-index: 5;
  }
  header .dropdownMenu.expanded {
    display: flex;
  }
  header .menuButton.expanded {
    border: 1px solid #6b705c;
    border-radius: 10%;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #a5a58d;
  align-items: center;
  height: 6vh;
}
footer h3 {
  color: #ffe8d6;
  font-family: "Plus Jakarta Sans";
  font-size: 2vh;
}
footer span {
  padding-left: 1vw;
  font-family: "Ms Madi";
  color: #ffe8d6;
  font-size: 3vh;
}

/* FONTS
        font-family: 'Ms Madi', cursive;

        font-family: 'Plus Jakarta Sans', sans-serif; */
/* SCSS HEX */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hero Section*/
.Hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.heroText {
  width: 40vw;
  line-height: 1.4;
}

p {
  font-size: 3vh;
  font-family: "Plus Jakarta Sans";
}

.HeroSpan {
  font-family: "Ms Madi";
  font-size: 5vh;
}

.heroImage {
  height: auto;
  width: auto;
}

.heroImageFile {
  height: 50vh;
}

/* FONTS
        font-family: 'Ms Madi', cursive;

        font-family: 'Plus Jakarta Sans', sans-serif; */
/* SCSS HEX */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contactSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4vw;
  width: 100%;
  font-family: "Plus Jakarta Sans";
  color: #6b705c;
}
.contactSection h2 {
  font-size: 4vh;
  text-align: center;
  width: 100%;
  text-align: left;
  padding-left: 4vw;
}
.contactSection .formSection {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 4vw;
}
.contactSection .contactForm {
  display: flex;
  flex-direction: column;
}
.contactSection .contactForm textarea {
  height: 5vh;
  width: 100%;
  resize: none;
  height: 30vh;
}
.contactSection .contactForm label {
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.contactSection .input {
  height: 4vh;
}
.contactSection .companyDetails {
  padding: 4vw;
}
.contactSection .companyDetails .logo {
  width: 30vw;
}
.contactSection h3 {
  padding-bottom: 2vh;
}
.contactSection ul {
  list-style: none;
  padding-top: 2vh;
}
.contactSection li {
  padding-bottom: 2vh;
}
.contactSection .submitButton {
  background-color: #a5a58d;
  border: none;
  color: white;
  padding: 1vh 2vh;
  text-decoration: none;
  font-size: 2vh;
  margin: 4px 2px;
  cursor: pointer;
}

/* FONTS
        font-family: 'Ms Madi', cursive;

        font-family: 'Plus Jakarta Sans', sans-serif; */
/* SCSS HEX */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Store Section*/
.StoreBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.oneProductContainer {
  display: flex;
  padding: 10vh;
  margin: 4vh;
  width: 80vw;
  height: 60vh;
  align-items: center;
  border: 1px solid #ddbea9;
  box-shadow: 5px 5px #ddbea9;
}

.productDetails {
  width: 25vw;
  background-color: #ffe8d6;
  font-family: "Plus Jakarta Sans";
  color: #6b705c;
}
.productDetails h3 {
  font-size: 4vh;
  padding-bottom: 2vh;
  font-family: "Ms Madi";
}
.productDetails p {
  font-size: 2.5vh;
}

.productImage {
  max-width: 60%;
  height: 80%;
  padding-left: 5vw;
}

/* FONTS
        font-family: 'Ms Madi', cursive;

        font-family: 'Plus Jakarta Sans', sans-serif; */
/* SCSS HEX */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.buttonClass {
  font-size: 2.5vh;
  color: #6b705c;
}

.buttonClass.expanded {
  color: #ffe8d6;
}

.SignIn {
  position: absolute;
  top: 8vh;
  right: 20vw;
  display: none;
  background-color: #ddbea9;
  padding: 2vw;
}

.Account {
  position: absolute;
  top: 8vh;
  right: 20vw;
  display: none;
  background-color: #ddbea9;
  padding: 2vw;
}

.SignIn.expanded {
  display: block;
}

.Account.expanded {
  display: block;
}

/* Theme for main body*/
h2 {
  font-family: "Ms Madi";
  font-size: 8vh;
  color: #6b705c;
}

html {
  background-color: #ffe8d6;
}

.body {
  align-items: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* About Section*/
.Hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5vh;
}
.Hero h2 {
  width: 50vw;
}
.Hero .logo {
  height: 35vh;
}
.Hero .oilImage {
  height: 35vh;
}/*# sourceMappingURL=styles.css.map */