$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

$small: 300px;
$medium: 900px;
/* FONTS
        font-family: 'Ms Madi', cursive;

        font-family: 'Plus Jakarta Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Plus+Jakarta+Sans:wght@200;400;600&display=swap');
$msMadi: 'Ms Madi';
$plusJakarta: 'Plus Jakarta Sans';

/* SCSS HEX */
$antique-brass: #cb997eff;
$desert-sand: #ddbea9ff;
$champagne-pink: #ffe8d6ff;
$ash-gray: #b7b7a4ff;
$artichoke: #a5a58dff;
$ebony: #6b705cff;
$offWhite: rgb(255, 235, 222);
$black: black;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
